.bloc_page {

    padding: 0 20px 0 20px;
}

header {

    font-family: Microsoft YaHei;
    font-size: 12px;
}

.titre{ 

    font-size: 26px;
    font-style: bold;
    position: fixed;
    top: 5px;

}

nav ul {
    display: flex;
    flex-wrap: wrap;

}

nav ul li {
    
    list-style: none;
    margin-left: 100px;
    margin-bottom: 5px;
}

.content1 {

    height: 200px;

    margin-left: 30px;
    margin-top: 30px;



}

.conteneur1 {
    display: flex;
}

.look {

    font-size: 4.5vmax;
}

.touch {

    width: 130px;
    height: 30px;

    font-size: 16px;


    border-radius: 100px;

    margin-top: 20px;

    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 5px;


    background: rgb(252,222,199);
    background: linear-gradient(0deg, rgba(252,222,199,1) 0%, rgba(251,152,164,1) 90%);

}


.iconMessage {

    width: 10px;
    height: 20px;

    border: 1px solid black;
    border-radius: 100px;
    padding: 10px 20px 20px 20px;
    margin: 20px 20px 0px 10px;

}

.icon {

    width: 18px;
    height: 14px;

    border: 1px solid black;
    border-radius: 4px;

    margin: 6px 0px 5px -5px;

    background-color: black;


}


.contact {

    border: 1px solid black;
    border-radius: 16px;
    padding: 5px 10px 5px 10px;
    margin-left: auto;
    align-self: flex-end;
}

.contact:hover
{
    background-color: black;
    color: white;
}


.boxes {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    min-width: 400px;
    width: 100%;
    background-color: black;

    font-family: Microsoft YaHei;



}

.box1 {
    background-color: #f3f3f5;
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
    min-width: 100px;
    height: 50%;
    min-height: 400px;
    transition: transform 1s;
}



.box2 {
    background-color: #f3f3f5;
    border: 1px solid black;
    border-radius: 15px;
    width: 50%;
    min-width: 100px;
    height: 50%;
    min-height: 400px;
    transition: transform 1s;
}

.box1:hover
{
    background-color: #e8e7ee;
}

.box2:hover
{
    background-color: #e8e7ee;
}
